body {
    padding-top: 20px;
    padding-bottom: 20px;
	font: 16px Helvetica, Sans-Serif;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


#container {
	width: 1200px;
	margin: 40px auto 60px;

	border-radius: 15px;
	background-color: #C4CECD;
}

#content-header {
	margin: 0 0 16px 0;
	padding: 0 0 71px 0;
	font-weight: bold;
	letter-spacing: -2px;
	border-bottom: 1px solid #999;
}

#content-experiences {
	font-size: 28px;
}

.year {
	float: right;
	font-weight: bold;
}

h3 {
	border-bottom: 1px solid #999;
}

h4{
	margin-top: 0px;
	margin-bottom: 0px;
}
.panel-footer{
	background-color: white;
    border-top: 1px solid #999;
}
.jumbotron{
	background-color: rgba(238, 238, 238, 0.58);
    padding-top: 1px;
    padding-bottom: 4px;
}
.thumbnail{
    border: 0px solid #ddd;
}
